@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* Cores principais */
  --primary-color: #0000ff;
  --secondary-color: #27719f;
  --third-color: #50ADE6;

  --accent-color: #feca57;

  /* Tons neutros */
  --dark-color: #222222;
  --gray-color: #777777;
  --light-color: #fff;

  --bg-secondary: #f0f0f0;


}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
 /* background: #1f242d;*/
  color: var(--light-color);
}

/* === menu === */

section {
  min-height: 100vh;
  padding: 10rem 9% 4rem;
  margin: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  
 /* background: black;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2.5rem;
  color: var(--light-color);
  font-weight: 600;
  cursor: default;
}

span {
  color: var(--primary-color);
  text-decoration: none;
}

.navbar{
  background-color: var(--light-color);
}

.navbar a {
  color: var(--light-color);
  font-size: 1.7rem;
  color: var(--third-color);
  margin-left: 4rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--light-color);

  background-color:  var(--secondary-color)
}

#menu-icon {
  font-size: 3.6rem;
  color:var(--third-color) ;
  display: none;
}

 /* === menu-end === */



 
 @media (max-width: 1200px) {
   html {
     font-size: 55%;
   }
   .about {
     text-align: center;
     justify-content: center;
     align-items: center;
   }
   .about h2 {
     text-align: center;
   }
 }
 @media (max-width: 991px) {
   #menu-icon {
     display: block;
   }
   .header {
     padding: 2rem 10%;
   }
   .home {
     margin-top: 5rem;
     text-align: center;
     justify-content: center;
   }
   .navbar {
     position: absolute;
     top: 100%;
     left: 0;
     width: 100%;
     padding: 1rem 3%;
     background: var(--light-color) !important;
     border-top: 0.1rem solid rgba(0, 0, 0, 0.8);
     box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.8);
     display: none;
   }
   .navbar.active {
     display: block;
   }
   .navbar a {
     display: block;
     font-size: 2rem;
     margin: 3rem 0;
   }
   .home {
     flex-direction: column;
 
 }
 @media (max-width: 768px) {
   #menu-icon {
     display: block;
   }
   .home {
     margin-top: 5rem;
     text-align: center;
     justify-content: center;
     align-items: center;
   }
   .navbar {
     position: absolute;
     top: 100%;
     left: 0;
     width: 100%;
     padding: 1rem 3%;
     background: var(--light-color) !important;
     border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
     box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
     display: none;
   }
   .navbar.active {
     display: block;
   }
   .navbar a {
     display: block;
     font-size: 2rem;
     margin: 3rem 0;
   }

   
.navbar a:hover,
.navbar a.active {
  margin: 25px;
  padding: 5px 0 5px 50px;
  border-radius: 8px;
  color: var(--light-color);

  background-color:  var(--secondary-color)
}
   

   .home {
     flex-direction: column;
   }
 }
 @media (max-width: 620px) {
   .home {
     text-align: center;
     justify-content: center;
     align-items: center;
   }
   
 }
 @media (max-width: 450px) {
   html {
     font-size: 50%;
   }
   .home {
     text-align: center;
     justify-content: center;
     align-items: center;
}
 }}